body {
    background:#b6efff;
}
.containernav{
    margin-top:70px;
}
.footer{
    background:#222;
    padding-bottom:5px;
    padding-top:5px;
}
td,
th {
  padding-top: 20px;
  padding-right:50px;
}
